<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" 
      	<%= link_to"Abode", root_path %>
      </a>
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
       <ul class="nav pull-right">
          <li><%= link_to "Sign In", about_path %></li>
          <li><%= link_to "Join", about_path %></li>
          </a>
      </li>
        
			</ul>
      </div>
      </div> 

    </div>
  </div>
</div>